.tos-parent{
  
}

.header-section{
   background: radial-gradient(circle at bottom right, #fdf1eb 0%, white 60%, #fdf1eb 100%);
   min-height: 200px;
   display: flex;
   align-items: flex-end;
   padding: 40px;
   
}

.tos-container {
  /* max-width: 800px; */
  /* margin: 40px auto; */
  padding: 40px;
  /* font-family: Arial, sans-serif; */
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
 
}

.tos-container h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.tos-container h2 {
  font-size: 1.4em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.tos-container ul {
  padding-left: 20px;
}

.tos-container li {
  margin-bottom: 8px;
}
