.AboutExtension{
    margin-top: 50px;
    position: relative;
    top: 600px;
    margin-bottom: 20px;
}

.aboutText{
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
   
}

.aboutTextWrapper{
    text-align: center;
    /* width: 45%; */
    width:700px;
    color: #555;
}    

.aboutTextWrapper h1{
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 15px;

  }

  .aboutTextWrapper p{
    margin-bottom: 10px;
    font-size: 1rem;
  }


  .allImagesParent{
    display: flex;
    width: 100%;
    justify-content: center;
    /* border: 1px solid red; */
  }

  @media (max-width: 480px) {

  }


  @media (max-width: 680px) {

  }

  @media (max-width: 780px) {

    .aboutTextWrapper{
      width: 80%;
    }
    .aboutTextWrapper h1{
      font-size: 2rem;
    }



     .aboutTextWrapper p{
        font-size: 0.8rem;
     }
  }

    @media (max-width: 880px) {
    
  }

    @media (max-width: 1080px) {
    
  }


    @media (max-width: 1280px) {
    
  }