
.Hero{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 90vh;
}

.heroWrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.heroText{
    /* border: 1px solid red; */
    position: absolute;
    display: flex;
    justify-content: end;
    z-index: 7;
    /* width: 50%; */
    /* left: 50%; */
    /* text-align: end; */
    /* right: 0px; */
    
}
.heroText h1{
    font-weight: 400;
    padding: 10px 20px;
    color: #333;
    /* letter-spacing: 4%; */
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-right: 50px;
}
    
.heroWrapper>div{
    position: absolute;
    width: 100%;
}

.highlight {
    color: #ff6600;
  }

  .straightWaitListParent{
    z-index: 6;
    text-align: center;
     display: none;
    /* border: 1px solid red; */
  }
  .straightWaitListParent a{
    background-color: #ff6401;
    color: #333;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    box-shadow:0 0 4px rgba(255, 100, 1, 0.2);
   
    
  }

  .imageWrapper{
    /* border: 1px solid blue; */
    height: 600px;
    background: linear-gradient(
      10deg,       /* angle */
      #ff6600 50%,  /* top-left color */
      white 50%   /* bottom-right color */
    );

  }
  .imageParent{
    /* border: 1px solid pink; */
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .boundaryDiv{
    /* border: 1px solid red; */
    position: absolute;
    bottom: -20px;
    z-index: 10;
    width: 105%;
    left:-5px;
    height: 80px;
     background: linear-gradient(to bottom,white, white);
      filter: blur(8px);
  }

  .oneImageHolder{
    position: absolute;
    /* bottom: -100px; */
  }
  .oneImageHolder#user{
    left:0px;
    width: 60%;
    height: 90%;
    /* border: 1px solid red; */
    z-index: 6;
    bottom: 0px;
    /* display: none; */
  }


  .oneImageHolder#mountain{
    right:0px;
    width: 100%;
    /* height: 100%; */
    bottom: -35%;
    /* border: 1px solid green; */
    z-index: 5;
  }
  .oneImageHolder img{
    object-fit: contain;
    /* width: 100px; */
  }

  .oneImageHolder#user img{
    /* width: 100%; */
    height: 120%;
    /* border: 1px solid green; */
    position: absolute;
    left: 0px !important;
    object-fit: contain;
    bottom: 0px;
  }
  .userImageWrapper{
     height: 100%;
      /* border: 1px solid yellow; */
      width: 100%;
      position: relative;
  }
  .oneImageHolder#mountain img{
    width: 100%;
    /* height: 100%; */
  }
  .heroImages{
    /* border: 1px solid red; */
    /* height: 700px; */
    width: 100%;
  }

  .heroImagesWrapper{
    position: relative;
    height: 700px;
    width: 100%;
    /* border: 1px solid pink; */
  }


 
  .heroImages img{
    object-fit: contain;
    /* border: 1px solid red; */
  }

  .indImageHolder#mountain{
    right: 0px;
    height: 50px;
    width: 100%;
    z-index: 5;
  }

   @media (max-width: 480px) {
      .oneImageHolder#user img{
        height: 80% !important;
    }

    .Hero{
   
    height: 75vh;
}
   }


  @media (max-width: 560px) {
    .heroText h1{
      font-size: 2rem !important;
    }


  }

   @media (max-width: 768px){
    .straightWaitListParent{
      display: block;
  }

}

  @media (max-width: 850px) {
    .Hero{
   
    height: 85vh;
}
    .heroText{
      justify-content: center;
    }

    .heroText h1{
      font-weight: 400;
      padding: 10px 20px;
      color: #333;
      /* letter-spacing: 4%; */
      font-size: 2.5rem;
      margin-right: 0px;
      text-align: center;
  }

    .oneImageHolder#person{
      left:0px;
      width: 100% !important;
      height: 80%;
      /* border: 1px solid yellow; */
      z-index: 6;
      bottom: -100px !important;
      /* bottom: -100px  !important; */
      /* right: 50%; */
    }
   

    .oneImageHolder#mountain{

      bottom: -50px !important;
    }

    .oneImageHolder#user{
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    .userImageWrapper{
      width: 90%;
    }

     .userImageWrapper img{
      height: 90% !important;
     }
  }


  @media (max-width:1080px){
    .oneImageHolder#user img{
        height: 100%;
    }

     .oneImageHolder#mountain{

    bottom: -80px !important;
  }
  }

  @media (max-width: 1280px) {
    .oneImageHolder#person{
      left:0px;
      width: 70%;
      height: 100%;
      /* border: 1px solid yellow; */
      z-index: 6;
      bottom: 0px;
    }

    .oneImageHolder#mountain{

    bottom: -30%;
  }
  }
  
  