.HowItWorks{
    /* position:relative ;
    top: 1700px; */
    margin-bottom: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.worksText{
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.worksTextWrapper{
    text-align: center;
    width: 50%;
    color: #555;
}    

.worksTextWrapper h1{
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  .worksTextWrapper p{
    margin-bottom: 10px;
    font-size: 1rem;
  }


  .how-it-works {
    text-align: center;
    padding: 4rem 1rem;
    background: radial-gradient(circle at left, #fdf1eb 0%, white 60%, #fdf1eb 100%);
  }
  
  .how-header h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
  }
  
  .how-header p {
    color: #666;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
  }
  
  .steps {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 3rem;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    max-width: 200px;
    flex: 1;
    min-width: 120px;
    /* border:1px solid red; */
    position: relative;
    padding-bottom:30px ;
  }
  
  .circle {
    background: #ff6401;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  }
  
  .step-title {
    font-size: 0.85rem;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .step-number {
    color: #ddd;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    font-family: "Bebas Neue", sans-serif;
  }
  
  .arrow {
    /* position: absolute;
    right: -30px;
    top: 24px; */
    position: absolute;
    top: 0px;
    left: 100%;

    /* bottom :80px; */
    /* left:70px; */
    font-size: 2.5rem;
    color: #333;
    
  }

  @media (max-width: 1280) {
    .HowItWorks{
        /* position:relative ;
        top: 800px; */
    }
  }

   @media (max-width: 1080) {
      .HowItWorks{
        /* position:relative ;
        top: 700px; */
    }
  } 
  
  @media (max-width: 768px) {
    .steps {
      flex-direction: column;
      gap: 2.5rem;
      align-items: center;
    }
  
    .arrow {
      /* position: static; */
      transform: rotate(90deg);
      margin-top: 1rem;
      top: 0px;
    }
    .step{
      padding-bottom:0px ;
    }

    .step-number {
      display: none;
    }
  }
  
  @media (max-width: 960px) {

    .HowItWorks{
        /* position:relative ; */
        /* top: 1100px; */
    }

    .worksTextWrapper h1{
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 15px;
      }
    
      .worksTextWrapper p{
        margin-bottom: 10px;
        font-size: 0.8rem;
      }
    
  }

 




  @media (max-width: 820px) {
   
    .worksTextWrapper h1{
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 15px;
      }
    
      .worksTextWrapper p{
        margin-bottom: 10px;
        font-size: 0.8rem;
      }
  }
    @media (max-width: 680px) {
       .HowItWorks{
        /* position:relative ;
        top: 1000px; */
    }
   
  }

   @media (max-width: 480px) {
    
      .HowItWorks{
        /* position:relative ;
        top: 900px; */
    }

  }
  
 
    @media (min-width: 1520px) {
          .HowItWorks{
        /* position:relative ;
        top: 1650px; */
    }
     }
     


  