.PlanPricing{
  position: relative;
  /* top:1100px; */
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.planText{
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /* border: #333 1px solid; */
}

.planTextWrapper{
    text-align: center;
    width: 50%;
    color: #555;
    /* border: #333 1px solid; */
    margin-bottom: 20px;
}    

.planTextWrapper h1{
    font-weight: 400;
   
    /* letter-spacing: 4%; */
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
.planTextWrapper p{
    font-size: 1rem;
  }




.pricing-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  font-size: 1rem;
  margin-bottom: 40px;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: -20px; */
}

.plan {
  flex: 1 1 300px;
  max-width: 350px;
 
  border-radius: 12px;
  padding: 25px;
  position: relative;
  background: white;
  height: fit-content;
}
.plan:nth-child(1){
     border: 1px solid #ff6600;
     position: relative;
     left: 15px;
}

.plan h2 {
  font-size: 2rem;
  margin-bottom: 10px;
   font-weight: 400;
   padding-bottom: 20px;
}

.plan:nth-child(1) h2{
     border-bottom: 1px solid rgba(0,0,0,0.2);
}

.plan:nth-child(2) h2{
     border-bottom: 1px solid #ffcaa7;
}

.price {
  font-size: 2rem;
  color: #f60;
  margin-bottom: 20px;
}

.currency {
  font-weight: bold;
}

.monthly {
  font-size: 1rem;
 
}



.plan.basic .monthly{
    color: #333;
}

.plan.premium .monthly{
     color: white;
}

.tryBtnParent{
    /* border: #333 solid 1px; */
    display: flex;
    margin-bottom: none;
    height: fit-content;
}

.try-btn {
  background-color: #f60;
  color: black;
  padding: 12px 24px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
}

.features {
  text-align: left;
}
.tick, .mark{
     margin-right: 5px;
     font-size: 1.2rem;
}
.plan.basic .tick, .plan.basic .mark{
    color: #ff6600;
   
}
.available {
  color: #aaa;
  margin: 15px 0;
}

.unavailable {
  
  /* text-decoration: line-through; */
  margin: 15px 0;
  color: #aaa;
}

.premium {
  background-color: #ff6600;
  color: white;
}

.premium .price,
.premium .available {
  color: white;
}

.premium .try-btn {
  background-color: white;
  color: #f60;
}

.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  padding: 4px 10px;
  border-radius: 20px;
}

@media (max-width: 880px) {
  .plans {
    flex-direction: column;
    align-items: center;
  }

  .planTextWrapper h1{
    font-weight: 400;

    font-size: 2rem;
  }
.planTextWrapper p{
    font-size: 0.8rem;
  }

  .plan:nth-child(1){
     border: 1px solid #ff6600;
     position: relative;
     left: 0px;
     margin-bottom: 20px;
}

}
